<!DOCTYPE html>
<html>

<head>

    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Expense Tracker</h1>

        <a href="/logout">
            <button>Logout</button>
        </a>

        <h2>Total Expense: ₹ {{ total if total else 0 }}</h2>

        <form method="POST">

            <input type="number" step="0.01" name="amount" placeholder="Amount" required>

            <input type="text" name="category" placeholder="Category" required>

            <input type="text" name="description" placeholder="Description" required>

            <button type="submit">Add Expense</button>

        </form>

        <table>

            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Description</th>
            </tr>

            {% for expense in expenses %}

            <tr>

                <td>{{ expense[2] }}</td>
                <td>{{ expense[3] }}</td>
                <td>{{ expense[4] }}</td>

            </tr>

            {% endfor %}

        </table>

    </div>

</body>
</html>